LABEL moonlight
TEXT HELP
Boot the moonlightOS v7.0 install medium on BIOS.
It allows you to install moonlightOS or perform system maintenance.
ENDTEXT
MENU LABEL moonlightOS v7.0 (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL moonlight-speech
TEXT HELP
Boot the moonlightOS v7.0 install medium on BIOS with speakup screen reader.
It allows you to install moonlightOS or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL moonlightOS v7.0 (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on